// Contacts page 

.mainWrap {
justify-content: center;
max-width: 1180px;
margin-left: auto;
margin-right: auto;
}

.headText{
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
color: #263238;
margin-left: 12px;
}

.BigLogo {
text-align: center;
}

.MainText {
font-family: "Montserrat";
font-style: normal;
font-weight: 300;
font-size: 90px;
line-height: 40px;
text-align: center;
color: #263238;
margin-top: 30px;
margin-bottom: 1px;
}

.LowerText {
font-family: "Montserrat";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
letter-spacing: 1em;
color: #263238;
text-align: center;
margin-top: 24px;
margin-left: 5px;
margin-bottom: 48px;
}

.Phone {
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
text-align: center;
letter-spacing: 0.2em;
color: #040707;
}

// Jur

.JurText {
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
color: #263238;
font-family: "Montserrat";
margin-left: 12px;
}

.jurList {
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #263238;
display: flex;
flex-direction: row;
margin-bottom: 50px;
justify-content: space-between;
}

.comp {
display: flex;
flex-direction: row;
justify-content: center;
white-space: nowrap;
}

.compText {
margin-left: 10px;
}