// Footers

.footerWrap {
background: #565656;
display: flex;
justify-content: center;
}

.footer {
max-width: 1180px;
display: grid;
grid-template-columns: auto auto;
}

// Footer components

.flogo {
margin-top: 10px;
margin-bottom: 1px;
margin-right: 0;
margin-left: 0;
}

.box {
display: flex;
flex-wrap: nowrap;
padding: 1rem;
align-items: center;
}

.fText {
font-family: "Montserrat";
font-style: normal;
font-weight: 300;
font-size: 38px;
line-height: 40px;
text-align: center;
color: #ffffff;
margin-left: 20px;
margin-bottom: 1px;
margin-top: 10px;
}

.appPic {
margin-top: 1px;
}

.playPic {
margin-left: 30px;
margin-top: 1px;
}

.fTM {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #ffffff;
margin-left: 15px;
}

.footerBox {
display: flex;
flex-direction: row;
justify-content: space-between;
}

// Footer phone

.phoneIcon {
margin-top: 1px;

}

.phoneNum {
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
text-align: center;
letter-spacing: 0.2em;
color: #ffffff;
margin-left: 20px;
margin-top: 1px;
margin-bottom: 0;
}

//Footer input

.inputBox {
display: flex;
flex-wrap: nowrap;
padding: 1rem;
align-items: center;
background: rgba(237, 237, 237, 0.4);
border-radius: 10px;
width: 358px;
height: 1px;
margin-top: 35px;
margin-left: 210px;
margin-bottom: 1px;
margin-right: 1px;
}

.fInput {
width: 330px;
height: 25px;
border: none;
background: rgba(237, 237, 237, 0.01);
}

.fInput::placeholder {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #171818;
}

.inputIcon {
margin-left: 10px;
margin-top: 4px;
}

// Language

.languageFooter {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 5px;
margin-left: 47px;
}

.langText {
margin-right: 10px;
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #ffffff;
}

.langPic {
margin-top: 30px;
}

// Info

.footerNav {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #ffffff;
margin-top: 1px;
margin-bottom: 30px;
margin-right: 1px;
}

.infoUl {
list-style-type: none;
display: grid;
grid-template-columns: auto auto;
line-height: 40px;
margin-left: 180px;
margin-top: 20px;
}

.infoSecondBlock {
margin-right: 150px;
}