// Header logo

.hLogo {
position: absolute;
width: 130px;
height: 50px;
left: 70px;
top: 54px;
}

// Header text

.hText {
position: absolute;
width: 66px;
height: 40px;
left: 212px;
top: 33px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 38px;
line-height: 40px;
text-align: center;
color: #263238;
}

// List

.listItem {
list-style-type: none;
}

// Icons

.marker {
position: absolute;
top: 62px;
left: 450px;
}

.IOne {
position: absolute;
width: 24px;
height: 24px;
left: 306px;
top: 71px;
}

.ITwo {
position: absolute;
width: 24px;
height: 24px;
left: 433px;
top: 71px;
}

.IThree {
position: absolute;
width: 20px;
height: 17px;
left: 580px;
top: 75px;
}

.IFour {
position: absolute;
width: 24px;
height: 24px;
left: 720.2px;
top: 71px;
}

// Texts

.TOne {
position: absolute;
width: 65px;
height: 17px;
left: 337px;
top: 60px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #263238;
}

.TTwo {
position: absolute;
width: 87px;
height: 17px;
left: 464px;
top: 62px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #263238;
}

.TThree {
position: absolute;
width: 84px;
height: 17px;
left: 607px;
top: 62px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #263238;
}

.TFour {
position: absolute;
width: 69px;
height: 17px;
left: 747px;
top: 62px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #263238;
}

// Input

.input {
position: absolute;
width: 226px;
height: 41px;
left: 841px;
top: 63px;
background: rgba(237, 237, 237, 0.4);
border-radius: 10px;
border: none;
}

.input::placeholder {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
padding-left: 21px;
color: #63767E;
}

.inputPic {
position: absolute;
width: 18px;
height: 18px;
left: 1031px;
top: 75px;
}

// Language

.langText {
position: absolute;
width: 74px;
height: 40px;
left: 1086px;
top: 50px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #263238;
}

.langPic {
position: absolute;
width: 31px;
height: 31px;
left: 1179px;
top: 67px;
border-radius: 4px;
}