// Header

.headerWrap {
display: flex;
justify-content: center;
}

.header {
display: flex;
flex-wrap: nowrap;
align-items: center;
max-width: 1180px;
}

// Header text

.hText {
font-family: "Montserrat";
font-style: normal;
font-weight: 300;
font-size: 38px;
line-height: 40px;
color: #263238;
margin-right: 0;
margin-left: 20px;
}

// List

.nav {
display: flex;
flex-direction: row;
justify-content: center;
list-style-type: none;
}

.listItem {
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 0;
}
// Icons

.img {
margin-right: 7px;
margin-left: 30px;
margin-top: 7px;
}

.imgWMarker {
position: relative;
margin-right: 7px;
margin-left: 30px;
margin-top: 7px;
}

.marker {
position: absolute;
bottom: 33px;
left: 18px;
width: 9px;
height: 9px;
}

// Texts

.navText {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #263238;
}

// Input

.inputBlock {
background: rgba(237, 237, 237, 0.4);
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: center;
width: 226px;
height: 41px;
margin-left: 20px;
}

.input {
background: rgba(237, 237, 237, 0.1);
border: none;
}

.input::placeholder {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #63767E;
}

.inputPic {
width: 18px;
height: 18px;
justify-content: center;
align-items: center;
margin-top: 10px;
margin-left: 20px;
}

// Language

.language {
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 19px;
}

.langText {
margin-right: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #263238;
}

.langImg {
    margin-top: 16px;
}

@media screen and (max-width: 768px) {
    .header {
      display: none;
    }
  }